<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.workclockview">

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <application>
        <activity android:name="com.example.workclockview.WorkClockActivity"/>

        <!--动态壁纸服务-->
        <service
            android:name="com.example.workclockview.TextClockWallpaperService"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/text_clock_wallpaper" />
        </service>

    </application>

</manifest>