<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zx.customview">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".widgets.fold.SampleOneActivity"/>
        <activity android:name=".widgets.fold.two.Test1Activity"></activity>
        <activity android:name=".widgets.fold.two.Test2Activity" />
        <activity android:name=".widgets.fold.two.SampleTwoActivity" />
        <activity android:name=".widgets.fold.FoldActivity" />
        <activity android:name=".viewandgroup.activity.XiaoMiSetpActivity" />
        <activity android:name=".activity.NewActivity" />
        <activity android:name=".viewandgroup.activity.CustomViewActivity" />
        <activity android:name=".viewandgroup.activity.CustomViewBasicActivity" />
        <activity android:name=".viewandgroup.activity.BezierActivity" />
        <activity android:name=".image_et.ImgEditTextActivity" />
        <activity android:name=".viewandgroup.activity.DrawPathActivity" />
        <activity android:name=".viewandgroup.activity.CanvasOperationActivity" />
        <activity android:name=".viewandgroup.activity.DrawActivity" />
        <activity android:name=".viewandgroup.activity.ViewMeasureActivity" />
        <activity android:name=".viewandgroup.ViewAndGroupActivity" />
        <activity android:name=".activity.fold.TextExpandActivity" />
        <activity android:name=".activity.fold.TextExpandActivity2" />
        <activity android:name=".activity.fold.TextExpandActivity3" />
        <activity android:name=".widget.fold.FoldActivity" />
        <activity android:name=".expand_edittext.TestExpandEtActivity" />
        <activity android:name=".keyboard.two.TestTwoActivity" />
        <activity android:name=".keyboard.one.TestOneActivity" />
        <activity android:name=".expand_edittext.ParseActivity" />
        <activity android:name=".widgets.custom3.CustomViewActivity3" />
        <activity android:name=".activity.ViewSampleActivity" />
        <activity
            android:name=".keyboard.email.HomeEmailActivity"
            android:theme="@style/AppNoActionBarTheme"
            android:windowSoftInputMode="adjustResize|stateUnchanged" />
        <activity android:name=".keyboard.InSampleActivity" />
        <activity
            android:name=".keyboard.way1.KeyboardActivity"
            android:windowSoftInputMode="stateUnchanged|adjustResize" />
        <activity android:name=".activity.CircleViewActivity" />
        <activity android:name=".ad.AdActivity" />
        <activity android:name=".activity.email.EmailToActivity" />
        <activity android:name=".flowlayout.CategoryActivity" />
        <activity android:name=".animation_btn.AnimationBtnActivity" />
        <activity android:name=".menu_item.MenuItemActivity" />
        <activity android:name=".yzm.pic.PicYzmActivity" />
        <activity android:name=".activity.DotViewActivity" /> <!-- 自定义view学习 -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CustomStudyActivity" />
        <activity android:name=".qqmenu.QQMenuActivity" />
        <activity
            android:name=".badgeview.BadgeViewActivity"
            android:theme="@style/AppNoActionBarTheme" />
        <activity android:name=".badgeview.ListViewActivity" />
        <activity android:name=".badgeview.RecyclerViewActivity" />
        <activity android:name=".step3.recyclerview.itemdecoration.RvItemDecorationActivity" />
        <activity android:name=".step1.interpolator.InterpolatorActivity" />
        <activity android:name=".step1.baseanim.SecondActivity" />
        <activity android:name=".step1.baseanim.BaseAnimActivity" />
        <activity android:name=".step1.animation.AnimationActivity" />
        <activity android:name=".step1.propertyanimator.PropertyAnimatorActivity" />
        <activity android:name=".step1.propertyvaluesholder.OfPropertyValuesHolderActivity" />
        <activity android:name=".step1.animatorset.AnimatorSetActivity" />
        <activity android:name=".step1.xml.xml_Value_ObjectAnimator_AnimatorSet" />
        <activity android:name=".step1.layoutgridlayoutanimation.LayoutGridLayoutAnimationActivity" />
        <activity android:name=".step1.layoutgridlayoutanimation.LayoutAnimationActivity" />
        <activity android:name=".step1.layoutgridlayoutanimation.LayoutAnimationJavaActivity" />
        <activity android:name=".step1.layoutgridlayoutanimation.GridAnimationActivity" />
        <activity android:name=".step1.layoutgridlayoutanimation.GridAnimationJavaActivity" />
        <activity android:name=".step1.layoutgridlayoutanimation.AnimateLayoutChangesLayoutTransitionActivity" />
        <activity android:name=".step1.layoutgridlayoutanimation.listviewitem.ListViewItemActivity" />
        <activity android:name=".step2.Step2Activity" />
        <activity android:name=".step1.Step1Activity" />
        <activity android:name=".step3.Step3Activity" />
        <activity android:name=".step2.canvasbase.CanvasBaseActivity" />
        <activity android:name=".step2.canvasbase.line.LineActivity" />
        <activity android:name=".step2.view.CanvasActivity" />
        <activity android:name=".step2.pathtext.PathTextActivity" />
        <activity android:name=".step2.range.RangeActivity" />
        <activity android:name=".step2.range.CanvasRangeActivity" />
        <activity android:name=".step2.canvastransform.CanvasTransformActivity" />
        <activity android:name=".step2.canvasbase.drawtext.DrawTextActivity" />
        <activity android:name=".step2.path.PathActivity" />
        <activity android:name=".step2.path.gestures.GesturesActivity" />
        <activity android:name=".step2.path.waveview.WaveViewActivity" />
        <activity android:name=".step3.flowLayout.AFlowLayoutActivity" />
        <activity android:name=".step3.waterfalllayout.WaterFallLayoutActivity" />
        <activity android:name=".step3.recyclerview.RvActivity" />
        <activity android:name=".step3.recyclerview.layout.LinearLayoutActivity" />
        <activity android:name=".step3.recyclerview.layout.GridLayoutActivity" />
        <activity android:name=".step3.recyclerview.layout.StaggeredGridLayoutActivity" />
        <activity android:name=".yzm.NumberYzmActivity" />
        <activity android:name=".cloudmusic.CloudActivity" />
        <activity android:name=".activity.NewActivity1" />
        <activity
            android:name=".autosize_txt.AutoSizeTxtActivity"
            android:label="@string/autosize_view" />
        <activity
            android:name=".alipay.AliPayHomeActivity"
            android:label="@string/alipay_home"
            android:theme="@style/AppThemeNoTitle" /> <!-- 7.0文件存储需要配置的部分 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.zx.customview.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>